{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Extrusion Machinery {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Plastic Extrusion Machinery
        <small>Hot Melt Glue Equipment</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                 
        <li class="breadcrumb-item">
            <a href="/plastic_extrusion_machinery/machine_profile">Machine Profile</a>
        </li>                 
        <li class="breadcrumb-item active">Hot Melt Glue Equipment</li>
    </ol>        
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <br/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Hot Melt Glue Equipment</h2>                    
        </div>                
    </div>            

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/hot melt glue equipment/hot melt glue equipment.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Product:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12">
        <ol>
            <li>Unique design, screw to plasticizing and mixing effect and become solid adhesive.</li>
            <li>High efficiency and energy saving, less investment, quick returns.</li>
            <li>The formula can be from raw material to the production process, then forming products for customers to provide comprehensive technical support.</li>                    
        </ol>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Equipment:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12 text-center" >                
            <p>Reactor, extruder, cooling trough, tractor + automatic cutting machine, power distribution cabinets, etc.</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Application:</h4>                    
        </div>                
    </div> 
    <div class="col-md-12 text-center" >                
            <p>Widely used in plastics, fiber, fabric, metal, leather, handicrafts, toys, shoes industry, electron, etc.</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Specification:</h4>                    
        </div>                
    </div>    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Screw diameter</th>
            <th>Hard tooth surface reducer</th>
            <th>Host drive power</th>
            <th>Yield</th>
            <th>Traction power and cutting machine</th>                    
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>YBSJ-90</td>
            <td>90</td>
            <td>225</td>
            <td>18.5kw</td>
            <td>1.5T 50-100kg/h</td>
            <td>1.5kw * 2</td>                    
        </tr>
        <tr>
            <td>YBSJ-100</td>
            <td>100</td>
            <td>225</td>
            <td>22kw</td>
            <td>2.0T</td>
            <td>1.5kw * 2</td>        
        </tr>    
        <tr>
            <td>YBSJ-110</td>
            <td>110</td>
            <td>250</td>
            <td>30kw</td>
            <td>2.5T</td>
            <td>1.5kw * 2</td>        
        </tr>    
        <tr>
            <td>YBSJ-120</td>
            <td>120</td>
            <td>250</td>
            <td>37kw</td>
            <td>3.0T</td>
            <td>1.5kw * 2</td>        
        </tr>                         
        </tbody>
    </table>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/statement.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

{% endblock %}

{% block pagination %}            
            
    <!-- /.container -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_sealing_equipment" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/eletronic_wire_equipment">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/wire_cable_sheath_line_equipment">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pp_brush_wiredrawing_machine_equipment">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_round_monofilament_silk_wiredrawing_machine">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/manager_lin_coating_unit">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_seat_tube_equipment">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_sealing_equipment">8</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">9</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/squeeze_film_line_equipment">10</a>
        </li>                
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/squeeze_film_line_equipment" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}