{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Extrusion Machinery {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Plastic Extrusion Machinery
        <small>Plastic Sealing Equipment</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                
        <li class="breadcrumb-item">
            <a href="/plastic_extrusion_machinery/machine_profile">Machine Profile</a>
        </li>                 
        <li class="breadcrumb-item active">Plastic Sealing Equipment</li>
    </ol>
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <br/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Plastic Sealing Equipment</h2>                    
        </div>                
    </div>            

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/plastic sealing equipment/plastic sealing equipment.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Product:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12 text-center" >                
            <p>Suitable for PP, PET, PVC, EVA, such as plastic extrusion, mainly for the production of all kinds of seals.</p>         
    </div>
    <hr/>     

    <div class="row">
        <div class="col-md-12">
            <h4>Application:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12 text-center" >                
            <p>Window of model steel door sealing strip, the cabinet seals, auto industry sealing strip, sealing strip, glass plastic folder chain, etc.</p>         
    </div>
    <hr/>            

    <div class="row">
        <div class="col-md-12">
            <h4>Specification:</h4>                    
        </div>                
    </div>    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Screw diameter</th>
            <th>Hard tooth surface reducer</th>
            <th>Host drive power</th>
            <th>Temperature control</th>
            <th>Production</th>                    
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>YBSJ-55</td>
            <td>55</td>
            <td>133</td>
            <td>7.5kw</td>
            <td>5 segment</td>
            <td>(25-30)kg</td>                    
        </tr>
        <tr>
            <td>YBSJ-70</td>
            <td>70</td>
            <td>173</td>
            <td>15kw</td>
            <td>8 segment</td>
            <td>(50-60)kg</td>                    
        </tr>                         
        </tbody>
    </table>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/statement.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

    
    <div class="row">
        <div class="col-md-12">
            <h2>The Structure of the Machine:</h2>                    
        </div>                
    </div>

    <br/>
    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/plastic sealing equipment/auxiliary machinery.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Auxiliary Machinery</h3>                        
        </div>
    </div>
    <!-- /.row -->

    <hr>

{% endblock %}

{% block pagination %}
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_seat_tube_equipment" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/eletronic_wire_equipment">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/wire_cable_sheath_line_equipment">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pp_brush_wiredrawing_machine_equipment">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_round_monofilament_silk_wiredrawing_machine">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/manager_lin_coating_unit">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_seat_tube_equipment">7</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/hot_melt_glue_equipment">9</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/squeeze_film_line_equipment">10</a>
        </li>                
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/hot_melt_glue_equipment" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}