{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Extrusion Machinery {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 text-center">Plastic Extrusion Machinery
        <small>Plastic Seat Tube Equipment</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                    
        <li class="breadcrumb-item">
            <a href="/plastic_extrusion_machinery/machine_profile">Machine Profile</a>
        </li>                 
        <li class="breadcrumb-item active">Plastic Seat Tube Equipment</li>
    </ol> 
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <br/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Plastic Seat Tube Equipment</h2>                    
        </div>                
    </div>            

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/plastic seat tube equipment/plastic seat tube equipment.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>


    <div class="row">
        <div class="col-md-12">
            <h4>Equipment:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12 text-center" >                
            <p>Host, main control cabinet, cooling sink, tractor + cutter</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Application:</h4>                    
        </div>                
    </div> 
    <div class="col-md-12 text-center" >                
            <p>Production of hollow tube is mainly used for beach mat, carpet mat, plastic seats, cushions, worship of woven seats, etc.</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Specification:</h4>                    
        </div>                
    </div>    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Screw diameter</th>
            <th>Main motor Power</th>
            <th>reducer type</th>
            <th>temperature control</th>                    
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>YBSJ-55</td>
            <td>55</td>
            <td>7.5kw</td>
            <td>133</td>
            <td>5 segment</td>                    
        </tr>                
        </tbody>
    </table>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/statement.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/> 

{% endblock %}

{% block pagination %}
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/manager_lin_coating_unit" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/eletronic_wire_equipment">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/wire_cable_sheath_line_equipment">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pp_brush_wiredrawing_machine_equipment">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_round_monofilament_silk_wiredrawing_machine">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/manager_lin_coating_unit">6</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_sealing_equipment">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/hot_melt_glue_equipment">9</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/squeeze_film_line_equipment">10</a>
        </li>                
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_sealing_equipment" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}