{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Extrusion Machinery {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Plastic Extrusion Machinery
        <small>Wire and Cable and Sheath Line Machine</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                
        <li class="breadcrumb-item">
            <a href="/plastic_extrusion_machinery/machine_profile">Machine Profile</a>
        </li>                 
        <li class="breadcrumb-item active">Wire and Cable and Sheath Line Equipment</li>
    </ol>
        
{% endblock %}
                
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <br/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Wire and Cable and Sheath Line Equipment</h2>                    
        </div>                
    </div>            

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/wire cable equipment/wire cable equipment.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Product:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12">
        <ol>
            <li>The special screw design, good plasticizing performance, uniform extrusion, high surface finish of products.</li>
            <li>The die head is simple, easy to change mould, adjust easily.</li>
            <li>The host and tractor equipment single action and linkage control system.</li>
            <li>Store line frame set synchronous linear tension control.</li>
            <li>Double sink cooling effect is good.</li>
            <li>Automatic winding machine, twin shaft loading, close and convenient.</li>                    
        </ol>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Constitution:</h4>                    
        </div>                
    </div> 

    <div class="col-md-12 text-center" >                
            <p>Pay-off reel, host, power distribution cabinets, double sinks, line storage rack, tractors linkage wire cutting machine, automatic wire winding machine, etc.</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Application:</h4>                    
        </div>                
    </div> 
    <div class="col-md-12 text-center" >                
            <p>Widely used in the relevant aspects of wire and cable and sheath line.</p>         
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h4>Specification:</h4>                    
        </div>                
    </div>    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Screw diameter</th>
            <th>Main Power</th>
            <th>Store Wire Rack Store line lenth</th>
            <th>Wire speed</th>
            <th>Temperature control</th>                    
            <th>Wire range</th>
            <th>taking-up form</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>YBSJ-55</td>
            <td>55</td>
            <td>7.5kw</td>
            <td>180m</td>
            <td>Max 500m/min</td>
            <td>6 segment</td>
            <td>0.8-1.4mm</td>
            <td>Double automatic knitting and binding/Axial loading</td>
            
        </tr>
        <tr>
            <td>YBSJ-70</td>
            <td>70</td>
            <td>15kw</td>
            <td>180m</td>
            <td>Max 500m/min</td>
            <td>8 segment</td>
            <td>0.8-4.0mm</td>
            <td>Double automatic knitting and binding/Axial loading</td>
        </tr> 
        <tr>
            <td>YBSJ-80</td>
            <td>80</td>
            <td>22kw</td>
            <td>180m</td>
            <td>Max 500m/min</td>
            <td>8 segment</td>
            <td>0.8-4.0mm</td>
            <td>Double header of knitting and binding/Axial loading</td>
        </tr> 
        <tr>
            <td>YBSJ-90</td>
            <td>90</td>
            <td>30kw</td>
            <td>180m</td>
            <td>Max 500m/min</td>
            <td>8 segment</td>
            <td>0.8-4.0mm</td>
            <td>Double automatic knitting and binding/Axial loading</td>
        </tr>                         
        </tbody>
    </table>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/statement.jpg' %}" alt="">
            </a>
        </div>             
    </div>
    <!-- /.row -->
    <hr/>

    
    <div class="row">
        <div class="col-md-12">
            <h2>The Structure of the Machine:</h2>                    
        </div>                
    </div>

    <br/>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/wire and cable and sheath equipment cover.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>The Body of Machine</h3>             
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/machine/wire cable equipment/winding machine.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Winding machine</h3>     
            <br/>
            <br/>
            <br/>
            <h3>Tractor</h3>                    
        </div>
    </div>
    <!-- /.row -->

    <hr>
                
    <div class="row">
        <div class="col-md-12">
            <p>Note：The machines are subject to the materials and requirements of production. According to customer needs, different model can be customized.</p>                    
        </div>                
    </div>

{% endblock %}

{% block pagination %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/eletronic_wire_equipment" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/eletronic_wire_equipment">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pp_brush_wiredrawing_machine_equipment">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_round_monofilament_silk_wiredrawing_machine">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/manager_lin_coating_unit">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_seat_tube_equipment">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/plastic_sealing_equipment">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/hot_melt_glue_equipment">9</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/squeeze_film_line_equipment">10</a>
        </li>                
        <li class="page-item">
            <a class="page-link" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}