{% extends 'base_en.html' %}
{% load static %}

{% block title %} Huijia I & E Co.,Ltd. | About {% endblock %}

{% block nav_about_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}
<!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
        <small>Us</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
{% endblock %}
    
{% block content %}
    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="{% static 'website/img/profile.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
            <h2>About Huijia I & E Co.</h2>
            <p>Our company established in 2004 and located in Taizhou city,Zhejiang province,China. We are specialized in international
            trade for many years. Now our products are exported all over the world.</p>
            <p>Our main products included three categories: Plastic necessities, Car accessories , Plastic extrusion machine, etc..</p>
            <p>Our company respected "practical, hard work, responsibility" spirit of enterprise. Through years of practice, now we own a completely mature management model, efficient quality control system. We believe that our years of experience will provide you with a perfect business experience. </p>
            <p>A warm welcome to visit all friends of the new negotiations, cooperation and development.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>A Glimpse of Our Company</h2>

    <br>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'website/img/about/meeting room.jpg' %}" alt="">
                <div class="card-body">
                    <h6 class="card-title">Meeting Room</h6>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Position</h6> -->
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p> -->
                </div>
                <!-- <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'website/img/about/multimedia demonstration hall.jpg' %}" alt="">
                <div class="card-body">
                    <h6 class="card-title">Multimedia Demonstration Hall</h6>
                 <!--    <h6 class="card-subtitle mb-2 text-muted">Position</h6> -->
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p> -->
                </div>
                <!-- <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'website/img/about/interaction chamber.jpg' %}" alt="">
                <div class="card-body">
                    <h6 class="card-title">Interaction Chamber</h6>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p> -->
                </div>
                <!-- <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div> -->
            </div>
        </div>                
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'website/img/about/fitness room.jpg' %}" alt="">
                <div class="card-body">
                    <h6 class="card-title">Fitness Room</h6>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Position</h6> -->
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p> -->
                </div>
                <!-- <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div> -->
            </div>
        </div>
    </div>

    <!-- /.row -->

    <!-- Our Customers -->
    <h2>Our Customers</h2>
    <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 1.jpg' %}" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 2.jpg' %}" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 3.jpg' %}" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 4.jpg' %}" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 5.jpg' %}" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="{% static 'website/img/about/customer logo 6.jpg' %}" alt="">
        </div>                
    </div>
    <!-- /.row -->

{% endblock %}