{% extends 'base_blog.html' %}

{% load static %}

{% block title %} 
    Blog | Blog Home  
{% endblock %} 

{% block Heading/Breadcrumbs %} 
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Blog Home
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home</li>
        <li class="breadcrumb-item">
            <a href=" {% url 'blog_list' %}">Blog List</a>  
        </li>
    </ol>
{% endblock %} 

{% block content %}   

<div class="container">
        <!-- Blog Entries Column -->
        <div class="col-md-12 mt-4">

            <h3 class="text-center mt-4" >Welcome to HuiJia blog zone ! </h3>

            <!-- Blog Post -->
            <!-- <div class="mt-4 mb-3">
                <p class="mt-4 mb-3 text-right">---Total: {{ blogs | length }} blogs---</p> 
            </div> -->
            <p>{{ read_nums }}</p>
            
        </div>
        <!-- 图表容器 DOM -->
        <div id="container" style="width: 600px;height:400px;"></div>
        <script>
            // 图表配置
            var options = {
                chart: {
                    type: 'bar'                          //指定图表的类型，默认是折线图（line）
                },
                title: {
                    text: '我的第一个图表'                 // 标题
                },
                xAxis: {
                    categories: ['苹果', '香蕉', '橙子']   // x 轴分类
                },
                yAxis: {
                    title: {
                        text: '吃水果个数'                // y 轴标题
                    }
                },
                series: [{                              // 数据列
                    name: '小明',                        // 数据列名
                    data: [1, 0, 4]                     // 数据
                }, {
                    name: '小红',
                    data: [5, 7, 3]
                }]
            };
            // 图表初始化函数
            var chart = Highcharts.chart('container', options);
        </script>

{% endblock %} 