{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Car carpet {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block nav_Category_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Tufted Car-carpet
        <small>Car Carpet Style</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/blog">Product Category</a>
        </li>    
        <li class="breadcrumb-item">
            <a href="/car_carpet/car_carpet_1">Car-carpet Series</a>
        </li>    
        <li class="breadcrumb-item ">
             <a href="/car_carpet/car_carpet_1">Car Carpet profile</a>
        </li>
        <li class="breadcrumb-item active">Car Carpet Style 1</li>
    </ol>     
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/cover.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-001</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-002.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-002</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Two -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-003.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-003</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-004.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-004</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->


    <!-- Project Three -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-005.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-005</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-006.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-006</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Four -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-007.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-007</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-008.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-008</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Five -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/car carpet/HJ-C-009.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-C-009</h6>
                </div> 
            </div>
        </div>                    
    </div>

    <!-- /.row -->

{% endblock %}

{% block pagination %}
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>                        
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}