<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>汇嘉购物APP</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'website/css/modern-business.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="col-sm-4 col-md-12 col-lg-12 fixed-top m-auto" style="background-size:cover;height:100%;background-image: url('{% static 'website/img/app_guide_page.png' %}')">
      <!-- <div  class="row align-items-centerjustify-content-center login-center">
        <a href="http://xz.hjjwsc.com/app-release%E6%B1%87%E5%98%89%E8%B4%AD%E7%89%A9_1.0.apk" class="btn btn-primary btn-block">下&nbsp;载&nbsp;安&nbsp;装</a>
      </div>
      <div  class="text-center">
        <h5 class="mt-4"><span>一键下载 &nbsp;轻松购物</span></h5>
      </div> -->

      <div class="col-sm-4 col-md-12 col-lg-12 text-center fixed-bottom" style="margin:0 auto;margin-bottom:120px">
        <a href="http://xz.hjjwsc.com/http://xz.hjjwsc.com/app-release%E6%B1%87%E5%98%89%E8%B4%AD%E7%89%A9_1.0.1.apk" class="btn btn-primary ">下&nbsp;载&nbsp;安&nbsp;装</a>
      </div>
      <div  class="text-center fixed-bottom" style="margin-bottom: 65px">
        <h6 class="mt-4"><span>一键下载 &nbsp;轻松购物</span></h6>
      </div>
    </div>
        
  </body>

</html>
