{% extends 'base.html' %}
{% load static %}

{% block title %}台州市汇嘉进出口有限公司{% endblock %}

{% block content %}
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'website/img/first-slide1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>特斯林餐垫</h3>
            <p>大量花色品种可供选择。</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'website/img/second-slide4.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>五彩PVC植绒汽车脚垫</h3>
            <p>多种花色品种可供选择。</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'website/img/machineg.jpg' %}')">
          <div class="carousel-caption d-none d-md-block text-success">
            <h3>塑料挤出机械</h3>
            <p>高品质, 稳定可靠 , 高效益。</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h2 class="my-4">--- 欢迎莅临汇嘉公司！---</h2>

    <!-- Marketing Icons Section -->      
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h5 class="card-header ">塑胶日用品系列：</h5>
          <div class="card-body ">
            <ul>
            <p class="card-text">
              产品:
              <li class="link">
                <a class="text-dark" href="/vinyl_woven_placemat/classified_style_1">特斯林餐垫</a>
              </li>
              <li class="link">
                <a class="text-dark" href="/vinyl_woven_table_runner/vinyl_woven_table_runner_1">特斯林桌垫</a>
              </li >
              <li class="link">
                <a class="text-dark" href="/vinyl_tufted_doormat/vinyl_tufted_doormat_1">PVC植绒门垫</a>
              </li>
              <li class="link">
                <a class="text-dark" href="#">塑胶注塑产品</a>
              </li>
            </p>
            </ul>
          </div>
          <div class="card-footer">
            <a href="/vinyl_woven_placemat/placemat_profile" class="btn btn-info">进入</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 ">
        <div class="card h-100">
          <h5 class="card-header ">汽车脚垫系列：</h5>
          <div class="card-body">
            <ul>
            <p class="card-text">
              产品特点:
              <li>表面材质: 70% PVC + 30% PET</li>
              <li>背面材质: 90% PVC + 10% fabric</li>
              <li>产品厚度: 4mm-6mm</li>
              <li>产品功能: 汽车装饰，后备箱装饰</li>
              <li>产品特点: 抗菌, 耐腐蚀, 防水, 防滑,易清洁，多种花色可供选择。</li>
            </p>
            </ul>
          </div>
          <div class="card-footer">
            <a href="/car_carpet/car_carpet_1" class="btn btn-info">进入</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-80">
          <h5 class="card-header ">塑料挤出机械系列：</h5>
          <div class="card-body pre-scrollable">
            <ul>
            <p class="card-text ">
              产品:
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/eletronic_wire_equipment">全自动双头电线成卷机</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/wire_cable_sheath_line_equipment">电线电缆及护套线设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/pet_wiredrawing_machine_equipment">PET刷丝拉丝机设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/pp_brush_wiredrawing_machine_equipment">PP 刷丝拉丝机设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/plastic_round_monofilament_silk_wiredrawing_machine">塑料圆丝单丝拉丝机组</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/manager_lin_coating_unit">特斯林包复机组</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/plastic_seat_tube_equipment">塑料席管设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/plastic_sealing_equipment">塑料密封条设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/hot_melt_glue_equipment">热熔胶条设备</a>
              </li>
              <li>
                <a class="text-dark" href="/plastic_extrusion_machinery/squeeze_film_line_equipment">压膜线设备</a>
              </li>
            </p>
            </ul>
          </div>
          <div class="card-footer">
            <a href="/plastic_extrusion_machinery/machine_profile" class="btn btn-info">进入</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>产品展示：</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/cover.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">
              <a href="/vinyl_woven_placemat/placemat_profile">特斯林餐垫</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="/vinyl_woven_placemat/classified_style_1" >经典款式</a>
              </li>
              <li class="link">
              <a class="text-dark" href="/vinyl_woven_placemat/regular_pattern_1" >常规花型</a>
              </li>
              <li class="link">
              <a class="text-dark" href="/vinyl_woven_placemat/placemat_profile" >餐垫详情展示:</a>
              </li> 
                <ul>
                  <li class="text-muted">产品详情展示</li> 
                  <li class="text-muted">餐垫规格尺寸</li>
                  <li class="text-muted">包装展示</li> 
                </ul>
            </ul> 

                                  
            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-001-01.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">
              <a href="/vinyl_woven_placemat/classified_style_1">特斯林桌垫</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="/vinyl_woven_table_runner/vinyl_woven_table_runner_1" >桌垫款式</a>
              </li>                
              <li class="link">
              <a class="text-dark" href="#" >桌垫详情:</a>
              </li> 
                <ul>
                  <li class="text-muted">产品详情展示</li> 
                  <li class="text-muted">产品规格尺寸</li>                    
                </ul>
            </ul> 
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% static 'website/img/doormat/cover A.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">   
              <a href="#">PVC植绒门垫</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="/vinyl_tufted_doormat/vinyl_tufted_doormat_1" >门垫款式</a>
              </li>                
              <li class="link">
              <a class="text-dark" href="#" >门垫详情:</a>
              </li> 
                <ul>
                  <li class="text-muted">产品详情展示</li> 
                  <li class="text-muted">产品规格尺寸</li>
                  <li class="text-muted">产品包装展示</li> 
                </ul>
            </ul> 
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% static 'website/img/injection product/cover.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">
              <a href="#">塑胶制品</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="#" >塑料果盘</a>
              </li>
              <li class="link">
              <a class="text-dark" href="#" >蜜胺产品</a>
              </li>
              <li class="link">
              <a class="text-dark" href="#" >塑胶系列产品展示:</a>
              </li> 
                <ul>
                  <li class="text-muted">塑胶产品详情展示</li>                                        
                </ul>
            </ul> 
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/car_carpet/car_carpet_1"><img class="card-img-top" src="{% static 'website/img/car carpet/cover.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">
              <a href="/car_carpet/car_carpet_1">五彩PVC汽车脚垫</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="/car_carpet/car_carpet_1" >汽车脚垫款式</a>
              </li>                
              <li class="link">
              <a class="text-dark" href="#" >汽车脚垫详情展示:</a>
              </li> 
                <ul>
                  <li class="text-muted">产品详情展示</li> 
                  <li class="text-muted">产品规格尺寸</li>
                  <li class="text-muted">产品包装展示</li> 
                </ul>
            </ul> 
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% static 'website/img/machine/wire machine.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="text-center card-title">
              <a href="#">全自动双头电线成圈机</a>
            </h4>
            <ul>
              <li class="link">
              <a class="text-dark" href="/plastic_extrusion_machinery/eletronic_wire_equipment" >电线成圈机</a>
              </li>                
              <li class="link">
              <a class="text-dark" href="/plastic_extrusion_machinery/machine_profile" >塑料挤出机械</a>
              </li> 
                <ul>
                  <li class="text-muted">挤出机械详情展示</li>                                       
                </ul>
            </ul> 
          </div>
        </div>
      </div>     
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Huijia Products Features</h2>
        <p>Our Products Currently in Operation Include:</p>
        <ul>
          <li>
            <strong>Vinyl Woven Place Mat</strong>
          </li>
          <li>
            <strong>Vinyl Woven Table Runner</strong>
          </li>
          <li>
            <strong>Vinyl Tufted Doormat</strong>
          </li>
          <li>
            <strong>Plastic Injection Products</strong>
          </li>
          <li>
            <strong>Vinyl Tufted Car-Carpet</strong>
          </li>
          <li>
            <strong>Plastic Extrusion Machinery Series:</strong>
          </li>
        </ul>
        <p>Eletronic Wire Equipment With Double Automatic Winding Device;Wire and Cable and Sheath Line Equipment;PET wiredrawing Machine Equipment;PP Brush Wire Drawing Machine Equipment;Plastic Round silk Monofilament Wire Drawing Machine;Manager Lin Coating Unit;Plastic Seat Tube Equipment;Plastic Sealing Equipment;Hot Melt Glue Equipment;Squeeze Film Line Equipment</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="{% static 'website/img/hands.jpg' %}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>All products can be customized according to customer requirements.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block bg-info" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

{% endblock %}    