{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Doormat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Tufted Doormat
        <small>Style</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/blog">Product Category</a>
        </li>    
        <li class="breadcrumb-item">
            <a href="/car_carpet/car_carpet_1">Platic Daily Necessities Series</a>
        </li>    
        <li class="breadcrumb-item ">
             <a href="/car_carpet/car_carpet_1">Vinyl Tufted Doormat profile</a>
        </li>
        <li class="breadcrumb-item active">Vinyl Tufted Doormat Style 2</li>
    </ol>
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-008.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-008</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail008.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Two -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-009.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-009</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail009.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->


    <!-- Project Three -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-010.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-010</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail010.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Four -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-011.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-011</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail011.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Five -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-012.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-012</h6>
                </div> 
            </div>
        </div> 
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail012.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                    
    </div>

    <!-- /.row -->

    <!-- Project Six -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-013.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-013</h6>
                </div> 
            </div>
        </div> 
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail013.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                    
    </div>

    <!-- /.row -->

    <!-- Project Seven -->            

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/HJ-D-014.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-D-014</h6>
                </div> 
            </div>
        </div> 
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/vinyl tufted doormat/detail014.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Detail Display</h6>
                </div> 
            </div>
        </div>                    
    </div>

    <!-- /.row -->

{% endblock %}

{% block pagination %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_tufted_doormat/vinyl_tufted_doormat_1">1</a>
        </li> 
        <li class="page-item active">
            <a class="page-link" href="#">2</a>
        </li> 
        <li class="page-item">
            <a class="page-link" href="/vinyl_tufted_doormat/vinyl_tufted_doormat_3">3</a>
        </li>                        
        <li class="page-item">
            <a class="page-link" href="/vinyl_tufted_doormat/vinyl_tufted_doormat_3" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}