{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | table runner {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block nav_Category_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Table Runner
        <small>Table Runner Style</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>             
        <li class="breadcrumb-item active">
             <a >Vinyl Woven table runner</a>
        </li>
        <li class="breadcrumb-item active">Table Runner Style 1</li>
    </ol>     
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->            
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-001-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-001-01</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-002-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-002-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

<!-- Project Two -->         
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-003-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-003-01</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-004-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-004-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Three -->         
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-005-02.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-005-02</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-006-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-006-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Three -->         
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-007-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-007-01</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-008-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-008-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Four -->         
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-009-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-009-01</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-010-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-010-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->

    <!-- Project Three -->         
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/tablerunner/HJ-R-011-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-R-011-01</h6>
                </div> 
            </div>
        </div>
    </div>
     <!-- /.row -->

{% endblock %}

{% block pagination %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>                
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_3" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}