<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load user_tags %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Huijia I & E Co.,Ltd. | Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'admin/css/sb-admin.css' %}" rel="stylesheet">
    <!-- company's logo -->
    <link rel="icon" href = "{% static 'website/img/icon.ico' %}" type = "image/x-icon" />

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
                {% if not user.is_authenticated %}
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <div class="form-group">
                                    <!-- <div class="form-label-group"> -->
                                    <label for="{{ field.id_for_lable }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                    <!-- </div> -->
                                </div>
                            {% endfor %}
                            <span id="tip" class="text-danger">{{ login_form.non_field_errors }}</span>

                            <!-- <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="inputUsername" class="form-control" placeholder="User name" required="required" autofocus="autofocus">
                                    <label for="inputUsername">User name</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    <label for="inputPassword">Password</label>
                                </div>
                            </div> -->
                            <div class="form-group mb-0">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me">
                                        Remember Password
                                    </label>
                                </div>
                            </div>
                            <a style="display: inline-block;" href="{% get_login_qq_url %}">
                                <img src="{% static 'user/qq.png' %}" alt="">
                                QQ Account Login
                            </a>
                            <input type="submit" class="btn btn-primary btn-block mt-2" value="Login">
                            <!-- <a class="btn btn-primary btn-block" href="index.html">Login</a> -->
                        </form>
                    <div class="text-center">
                        {% if request.GET.from %}
                            <a class="d-block small mt-3" href="{% url 'register' %}?from={{ request.GET.from }}">Register an Account &gt;&gt;</a>
                        {% else %}
                            <a class="d-block small mt-3" href="{% url 'register' %}?from={{ request.get_full_path }}">Register an Account &gt;&gt;</a>
                        {% endif %}
                        <!-- <a class="d-block small mt-3" href="{% url 'register' %}?from={{ request.get_full_path }}">Register an Account &gt;&gt;</a> -->
                        <a class="d-block small" href="{% url 'forgot_password' %}">Forgot Password? &gt;&gt;</a>
                    </div>
                {% else %}
                    <h2>Logged in, Jump to homepage ... <span class="text-primary" id="remainSeconds"><strong>5</strong></span></h2>
                    <script type="text/javascript">
                        setInterval(jump,1000);
                        var sec = 5;
                        function jump(){
                            sec--;
                            if(sec > 0){
                                document.getElementById('remainSeconds').innerHTML = sec;
                                
                            }else{
                                window.location.href = '/';
                            }
                        }
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

</body>

</html>
