{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Placemat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Classified Style Series</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                
        <li class="breadcrumb-item">
             <a href="/vinyl_woven_placemat/placemat_profile">Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Classified Style 5</li>
    </ol>


{% endblock %}
        
{% block content %}

        <!-- Project One -->
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-center">Stripe Series A</h3>                 
                <ul>
                    <p class="card-text">
                        <h6 class="text-muted">Another Series:</h6>
                        <li class="link text-muted">
                            <a class="text-muted" href="/vinyl_woven_placemat/classified_style_1" >Grid Series</a>
                        </li>
                        <li class="link text-muted">
                         <a class="text-muted" href="/vinyl_woven_placemat/classified_style_3" >Colorful Series</a>
                        </li>
                        <li class="link text-muted">
                         <a class="text-muted" href="/vinyl_woven_placemat/classified_style_5" >Jacquard Series</a>
                        </li> 
                        <li class="link text-muted">
                         <a class="text-muted" href="/vinyl_woven_placemat/classified_style_9" >Plain Series</a>
                        </li> 
                        <li class="link text-muted">
                         <a class="text-muted" href="/vinyl_woven_placemat/classified_style_11" >Round Series</a>
                        </li> 
                    </p>
                </ul>                    
            </div>
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/stripe series/A/HJ-P-S001.jpg' %}" alt="">
                </a>
                <div class="card-body">                            
                        <h5 class="card-text text-center">Item No.: HJ-P-S001</h5>
                </div>
            </div>                        
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/A/HJ-P-S001-16.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S001-16</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/A/HJ-P-S001-17.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S001-17</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/A/HJ-P-S001-18.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S001-18</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/A/HJ-P-S001-26.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S001-26</h6>
                    </div>    
                </div>                
            </div>
        </div>            
        <!-- /.row -->

    <!-- Project Two -->
        <div class="row">
            <div class="col-md-3 text-center">
                <h3>Stripe Series B</h3>                    
            </div>
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/stripe series/B/HJ-P-S002.jpg' %}" alt="">
                </a>
                <div class="card-body">                            
                        <h5 class="card-text text-center">Item No.: HJ-P-S002</h5>
                </div>
            </div>                
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/B/HJ-P-S002-01.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S002-01</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/B/HJ-P-S002-02.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S002-02</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/B/HJ-P-S002-03.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S002-03</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/B/HJ-P-S002-04.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S002-04</h6>
                    </div>    
                </div>                
            </div>
        </div>
        <!-- /.row -->

    <!-- Project Three -->
        <div class="row">
            <div class="col-md-3 text-center">
                <h3>Stripe Series C</h3>                    
            </div>
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/stripe series/C/HJ-P-S003-01.jpg' %}" alt="">
                </a>
                <div class="card-body">                            
                        <h5 class="card-text text-center">Item No.: HJ-P-S003-01</h5>
                </div>
            </div>                
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/C/HJ-P-S003-02.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S003-02</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/C/HJ-P-S003-03.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S003-03</h6>
                    </div>    
                </div>                
            </div>                
            <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/C/HJ-P-S003-04.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S003-04</h6>
                    </div>    
                </div>                
            </div>
        </div>
        <!-- /.row -->

    <!-- Project Four -->
        <div class="row">
            <div class="col-md-3 text-center">
                <h3>Stripe Series D</h3>                    
            </div>
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/stripe series/D/HJ-P-S004.jpg' %}" alt="">
                </a>
                <div class="card-body">                            
                        <h5 class="card-text text-center">Item No.: HJ-P-S004</h5>
                </div>
            </div>                
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/D/HJ-P-S004-01.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S004-01</h6>
                    </div>    
                </div>                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/D/HJ-P-S004-02.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S004-02</h6>
                    </div>    
                </div>                
            </div>                
            <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"> 
                <div class="card ">                 
                    <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/stripe series/D/HJ-P-S004-03.jpg' %}" alt=""></a>
                    <div class="card-body">                            
                        <h6 class="card-text text-center">Item No.: HJ-P-S004-03</h6>
                    </div>    
                </div>                
            </div>
        </div>
        
        
        <!-- /.row -->

        
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_4" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span>Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_2">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_3">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_4">4</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_6">6</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_7">7</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_8">8</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_9">9</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_10">10</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_11">11</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/vinyl_woven_placemat/classified_style_6" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span>Next</span>
                </a>
            </li>
        </ul>

{% endblock %}