{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Placemat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Classified Style Series</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                
        <li class="breadcrumb-item">
             <a href="/vinyl_woven_placemat/placemat_profile">Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Classified Style 3</li>
    </ol>

{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">Colorful Series A</h3>                 
            <ul>
                <p class="card-text">
                    <h6 class="text-muted">Another Series:</h6>
                    <li class="link text-muted">
                        <a class="text-muted" href="/vinyl_woven_placemat/classified_style_1" >Grid Series</a>
                    </li>
                    <li class="link text-muted">
                     <a class="text-muted" href="/vinyl_woven_placemat/classified_style_5" >Stripe Series</a>
                    </li>
                    <li class="link text-muted">
                     <a class="text-muted" href="/vinyl_woven_placemat/classified_style_7" >Jacquard Series</a>
                    </li> 
                    <li class="link text-muted">
                     <a class="text-muted" href="/vinyl_woven_placemat/classified_style_9" >Plain Series</a>
                    </li> 
                    <li class="link text-muted">
                     <a class="text-muted" href="/vinyl_woven_placemat/classified_style_11" >Round Series</a>
                    </li> 
                </p>
            </ul>                    
        </div>
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/colorful series/A/HJ-P-C001.jpg' %}" alt="">
            </a>
            <div class="card-body">                            
                    <h5 class="card-text text-center">Item No.: HJ-P-C001</h5>
            </div>
        </div>                        
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/A/HJ-P-C001-10.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C001-10</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/A/HJ-P-C001-11.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C001-11</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/A/HJ-P-C001-13.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C001-13</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/A/HJ-P-C001-17.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C001-17</h6>
                </div>    
            </div>                
        </div>
    </div>            
    <!-- /.row -->

<!-- Project Two -->
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>Colorful Series B</h3>                    
        </div>
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/colorful series/B/HJ-P-C002.jpg' %}" alt="">
            </a>
            <div class="card-body">                            
                    <h5 class="card-text text-center">Item No.: HJ-P-C002</h5>
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/B/HJ-P-C002-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C002-01</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/B/HJ-P-C002-02.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C002-02</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/B/HJ-P-C002-43.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C002-43</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/B/HJ-P-C002-46.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C002-46</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

<!-- Project Three -->
    <div class="row">
        <div class="col-md-3 text-center">
            <h3>Colorful Series C</h3>                    
        </div>
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/classified style/colorful series/C/HJ-P-C003.jpg' %}" alt="">
            </a>
            <div class="card-body">                            
                    <h5 class="card-text text-center">Item No.: HJ-P-C003</h5>
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/C/HJ-P-C003-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C003-01</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/C/HJ-P-C003-10.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C003-10</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/C/HJ-P-C003-21.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C003-21</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/C/HJ-P-C003-22.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C003-22</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

<!-- Project Four -->
    <div class="row">
        <div class="col-md-12">
            <h3>Colorful Series D</h3>                    
        </div>                
    </div>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/D/HJ-P-C004.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C004</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/classified style/colorful series/D/HJ-P-C004-01.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Item No.: HJ-P-C004-01</h6>
                </div> 
            </div>
        </div>                
    </div>

    <!-- /.row -->
{% endblock %}

{% block pagination %} 
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_2" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_1">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_2">2</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_4">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_5">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_6">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_7">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_8">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_9">9</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_10">10</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_11">11</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/classified_style_4" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}