{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Place Mat Profile {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block nav_Category_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Profile</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                
        <li class="breadcrumb-item active">
             <a>Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Place Mat Profile</li>
    </ol>
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <div class="row">
        
        <div class="col-md-12">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/profile_1.jpg' %}" alt="">
            </a> 
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/profile_2.jpg' %}" alt="">
            </a>
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/profile_3.jpg' %}" alt="">
            </a>
            <a href="/vinyl_woven_placemat/classified_style_1">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/img/placemat/profile_4.jpg' %}" alt="">
            </a>                
        </div>                        
    </div>
     <!-- /.row -->

{% endblock %}