{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Placemat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Classified Style Series</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/">Product Category</a>
        </li>    
        <li class="breadcrumb-item">
            <a href="/">Plastic daily necessities series</a>
        </li>    
        <li class="breadcrumb-item">
             <a href="/vinyl_woven_placemat/placemat_profile">Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Regular Pattern 1</li>
    </ol>
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <div class="row">
        <div class="col-md-3">
            <h3>Regular Pattern:</h3>                        
        </div>                                 
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D001.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D001</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D002.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D002</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D003.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D003</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D004.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D004</h6>
                </div>    
            </div>                
        </div>
    </div>            
    <!-- /.row -->

<!-- Project Two -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D005.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D005</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D006.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D006</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D007.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D007</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D008.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D008</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Three -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D009.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D009</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D010.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D010</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D011.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D011</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D012.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D012</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

<!-- Project Four -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D013.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D013</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D014.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D014</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D015.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D015</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D016.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D016</h6>
                </div>    
            </div>                
        </div>
    </div> 
    
    <!-- /.row -->

    <!-- Project Five -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D017.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D017</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D018.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D018</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D019.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D019</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D020.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D020</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Six -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D021.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D021</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D022.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D022</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D023.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D023</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D024.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D024</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

{% block pagination %}
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_2">2</a>
        </li>    
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_3">3</a>
        </li>             
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_2" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}