{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Placemat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Classified Style Series</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/">Product Category</a>
        </li>    
        <li class="breadcrumb-item">
            <a href="/">Plastic daily necessities series</a>
        </li>    
        <li class="breadcrumb-item">
             <a href="/vinyl_woven_placemat/placemat_profile">Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Regular Pattern 2</li>
    </ol>
    
{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <div class="row">
        <div class="col-md-3">
            <h3>Regular Pattern:</h3>                        
        </div>                                 
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D025.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D025</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D026.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D026</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D027.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D027</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D028.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D028</h6>
                </div>    
            </div>                
        </div>
    </div>            
    <!-- /.row -->

<!-- Project Two -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D029.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D029</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D030.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D030</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D031.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D031</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D032.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D032</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Three -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D033.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D033</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D034.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D034</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D035.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D035</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D036.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D036</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

<!-- Project Four -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D037.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D037</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D038.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D038</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D039.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D039</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D040.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D040</h6>
                </div>    
            </div>                
        </div>
    </div> 
    
    <!-- /.row -->

    <!-- Project Five -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D041.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D041</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D042.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D042</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D043.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D043</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D044.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D044</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Six -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D045.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D045</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D046.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D046</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D047.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D047</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D048.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D048</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

{% block pagination %}
            
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_1">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">2</a>
        </li>    
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_3">3</a>
        </li>             
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_3" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}