{% extends 'base_en.html' %}
{% load static %}

{% block title %} Product | Placemat {% endblock %}

{% block nav_product_active %} active {% endblock %}

{% block Heading/Breadcrumbs %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Vinyl Woven Place Mat
        <small>Classified Style Series</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/">Product Category</a>
        </li>    
        <li class="breadcrumb-item">
            <a href="/">Plastic daily necessities series</a>
        </li>    
        <li class="breadcrumb-item">
             <a href="/vinyl_woven_placemat/placemat_profile">Vinyl Woven Place Mat</a>
        </li>
        <li class="breadcrumb-item active">Regular Pattern 3</li>
    </ol>

{% endblock %}
        
{% block content %}

    <!-- Page Content -->
    <!-- Project One -->
    <div class="row">
        <div class="col-md-3">
            <h3>Regular Pattern:</h3>                        
        </div>                                 
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D049.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D049</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D050.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D050</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D051.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D051</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D052.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D052</h6>
                </div>    
            </div>                
        </div>
    </div>            
    <!-- /.row -->

<!-- Project Two -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D053.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D053</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D054.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D054</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D055.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D055</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D056.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D056</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Three -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D057.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D057</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D058.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D058</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D059.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D059</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D060.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D060</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

<!-- Project Four -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D061.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D061</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D062.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D062</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D063.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D063</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D064.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D064</h6>
                </div>    
            </div>                
        </div>
    </div> 
    
    <!-- /.row -->

    <!-- Project Five -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D065.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D065</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D066.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D066</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D067.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D067</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D068.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D068</h6>
                </div>    
            </div>                
        </div>
    </div>
    <!-- /.row -->

    <!-- Project Six -->            
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D069.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D069</h6>
                </div>    
            </div>                
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"> 
            <div class="card ">                 
                <a href="#"><img class="card-img-top" src="{% static 'website/img/placemat/regular pattern/D070.jpg' %}" alt=""></a>
                <div class="card-body">                            
                    <h6 class="card-text text-center">Pattern No.: D070</h6>
                </div>    
            </div>                
        </div>                
    </div>
    <!-- /.row -->

{% endblock %}

{% block pagination %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_2" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_1">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/vinyl_woven_placemat/regular_pattern_2">2</a>
        </li>    
        <li class="page-item active">
            <a class="page-link" href="#">3</a>
        </li>             
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span>Next</span>
            </a>
        </li>
    </ul>

{% endblock %}